<p>our-menu works!</p>
<section id="menue">
    <div class="menue">
        <h3> OUR MENU</h3>
        <div class="menuebilder">
            <div class="picture1">
                <img width="352px" height="352px" src="./bilder/img/section3/R1.png">
                <div class="überschriften">
                    <p>Tonkatsu Ramen </p>
                    <table>
                        <tr>
                            <td class="tabelle1">CHICKEN</td>
                            <td>12.95€</td>

                        </tr>
                        <tr>
                            <td>BEEF</td>
                            <td>11.95€</td>

                        </tr>
                        <tr>
                            <td>SHRIMP</td>
                            <td>13.95€</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="picture1" id="bildspicy">
                <img width="352px" height="352px" src="./bilder/img/section3/R2.png">
                <div class="überschriften">
                    <p>Spicy Miso Ramen </p>
                    <table>
                        <tr>
                            <td class="tabelle1">CHICKEN</td>
                            <td>12.95€</td>

                        </tr>
                        <tr>
                            <td>BEEF</td>
                            <td>11.95€</td>

                        </tr>
                        <tr>
                            <td>SHRIMP</td>
                            <td>13.95€</td>
                        </tr>
                    </table>

                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="picture1">
        <img width="352px" height="352px" src="./bilder/img/section3/R3.png">
        <div class="überschriften">
            <p>Shio Ramen </p>

            <table>
                <tr>
                    <td class="tabelle1">CHICKEN</td>
                    <td>12.95€</td>

                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>11.95€</td>

                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>


    </div>
    

</section>